*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
    
#nav h3{
    background-color: black;
    color: #fff;
    padding: 20px 25px;
    font-size: 15px;
    border-radius: 30px;
    margin-left: 5px;
}
#intro{
    height: 40%;
    padding: 50px;
    width: 100%;
}

#intro h1{
    font-size: 80px;
    line-height: 60px;
    letter-spacing: -3px;
    
}

#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3, #place h4{
    font-size: 24px;
    font-weight: 600;
}

#mahabubImg{
    background-image: url(https://scontent.fdel25-1.fna.fbcdn.net/v/t39.30808-6/475542185_1335423877458564_5940542207522840325_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=laZiIEqbOp0Q7kNvwFwDS2-&_nc_oc=AdnQP7blLNg1wA8jwD7jLdAtCRAccJ7y-NxvglqOsG6isNYU4eyZyMQK8cms_2GcE5qQL5f3ZrgczAC0BD7Jnbl6&_nc_zt=23&_nc_ht=scontent.fdel25-1.fna&_nc_gid=1RaP7Rao7B3xT2SZA8MoUg&oh=00_AfcZ-uqnmP1hJkfAoXLghTvuEaoQNQqhGEQ_xvSss9EqgQ&oe=68E83536);
    background-size: cover;
    height: 90%;
    width: 100%;
}

#about{
    height: 45%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

#about h2{
    
    width: 60%;
    font-size: 65px;
    line-height: 80px;
}

#about-part-2{
    padding-left: 70px;
    width: 45%;
    height: 100%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part-2 h3{
    font-size: 35px;
    font-weight: 300;
}


#icons i{
    padding: 5px;
    font-size: 30px;
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

#work1{
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    height: 100%;
    border-right: 2px solid black;
}

#work1 h3{
    font-size: 30px;
}

#work1 i{
    font-size: 30px;
}

#work2{
    width: 65%;
    
    height: 100%;
    padding: 0 60px;
}

.work2-part{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}

.work2-part .elem{
    width: 50%;
    height: 100%;
}

.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
}

.work2-part .elem:nth-child(2){
    padding-left: 60px;
}

.work2-part .elem h4{
    font-size: 40px;
}